body {
  text-align: center;
  background-color: #086972;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 5vw;
  margin:  8vw 1vw 10vw;
  line-height: 8vw;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 100%;
  margin: auto;

}

.btn {
  margin: 2vw;
  display: inline-block;
  height: 40vw;
  width: 40vw;
  border: 1vw solid black;
  border-radius: 20%;
}

.game-over {
  background-color: #d63447;
  opacity: 0.8;
}

.red {
  background-color: #e84a5f;
}

.green {
  background-color: #649d66;
}

.blue {
  background-color: #1f4068;
}

.yellow {
  background-color: #ffbd69;
}

.pressed {
  box-shadow: 0 0 2vw white;
  background-color: grey;
}

#footer{
  margin:10vw 20vw 3vw;
  font-size: 4vw;
  color:#FEF2BF;
  font-family: sans-serif;
}
#copyright{
  font-size: 3vw;
}
/* @media (max-width:600px) {
  #level-title {
    font-size: 1.5rem;
    margin:  5%;
    line-height: 2.5rem;
  }

  .btn {
    margin: 10px;
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 5px solid black;
    border-radius: 20%;
  }

} */
